/* body {
    background-repeat: no-repeat;
    background-size: cover;
} */
#main-page-image {
    margin-top: 10px;
}

body {
    background-image: url("../images/2nd-family-fued-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

/* Cited the gold sign in and sign up button: https://codepen.io/rcherem/pen/Kxpgdr */
#start-btn {
    align-content: center;
    display: inline-block;
    margin-top: 650px;
    /* margin-left: 90px; */
    position: relative;
    width: 175px;
    outline: none;
    font-family: inherit;
    /* font-size: 1em; */
    font-size: 1.6em;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    height: 2.75em;
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    /* font-weight: bolder; */
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    /* transition: all .2s ease-in-out; */
    background-size: 100% 100%;
    background-position: center;
}

#start-btn:focus,
#start-btn:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, .6);
    color: rgba(120, 50, 5, .8);
}

#start-btn:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}

/* 
body {
    background-image: url("../images/2nd-family-fued-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200%;
} */
/* .start-btn {
    background: #7db9e8;
    background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: -webkit-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    background: linear-gradient(to bottom, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0);
    border: 2px solid whitesmoke;
} */
/* a:focus,
a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}
input,
select,
textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}
input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}
input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 30px transparent inset;
    -moz-box-shadow: 0 0 0 30px transparent inset;
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    -o-box-shadow: 0 0 0 30px transparent inset;
    -ms-box-shadow: 0 0 0 30px transparent inset;
    background-color: transparent !important;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
}
p {
    margin-bottom: 32px;
    margin-top: 0px;
    font-weight: 400;
}
p span {
    font-weight: bold;
}
h2 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins';
    font-size: 36px;
    margin-bottom: 10px;
}
.clear {
    clear: both;
}
body {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0px;
    background-image: url("../images/");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}
.main {
    position: relative;
}
.container {
    margin-top: 10px;
    margin-bottom: 70px;
    width: 1123px;
    padding-top: 135px;
    padding-bottom: 115px;
    background-image: url("../images/");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    overflow: hidden;
    float: left;
}
.signup-content {
    width: 562px;
    height: 100%;
    margin-right: 0px;
    margin: 0%;
    background: rgba(96, 141, 245, 0.75);
    float: right;
    top: 40%;
}
.signup-form {
    padding: 54px 80px 36px 55px;
}
.form-group {
    margin-bottom: 23px;
}
input {
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    background: transparent;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 3px 0;
}
input::-webkit-input-placeholder {
    font-weight: 400;
    color: #fff;
}
input::-moz-placeholder {
    font-weight: 400;
    color: #fff;
}
input:-ms-input-placeholder {
    font-weight: 400;
    color: #fff;
}
input:-moz-placeholder {
    font-weight: 400;
    color: #fff;
}
input:focus {
    font-weight: bold;
}
.field-icon {
    float: right;
    margin-right: 0px;
    margin-top: -22px;
    position: relative;
    z-index: 2;
    color: #fff;
}
input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}
input[type=checkbox]:not(old)+label {
    display: inline-block;
    margin-bottom: 25px;
}
input[type=checkbox]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: transparent;
    vertical-align: bottom;
}
input[type=checkbox]:not(old):checked+label>span {
    background: transparent;
}
input[type=checkbox]:not(old):checked+label>span:before {
    content: '\f26b';
    display: block;
    color: #fff;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold;
}
.label-agree-term {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.term-service {
    color: #fff;
}
.form-submit {
    width: auto;
    display: inline-block;
    border: none;
    background: #fff;
    color: blue;
    padding: 10px;
    height: 50px;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    margin-right: 25px;
}
.form-submit:hover {
    background-color: #e6e6e6;
}
.submit {
    width: 130px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}
.submit-link {
    border: 2px solid #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    text-align: center;
    color: #fff;
}
.submit-link:hover {
    background: #fff;
    color: blue;
}
@media screen and (max-width: 992px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%;
        margin: 0 auto;
    }
    .signup-content {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .submit {
        width: 100%;
    }
    .form-submit {
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .signup-form {
        padding: 54px 30px 36px 30px;
    }
} */